@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.masthead{
    background: linear-gradient(270deg, #226ce0, #10213D);
background-size: 150% 150%;

-webkit-animation: AnimationName 3s ease;
-moz-animation: AnimationName 3s ease;
animation: AnimationName 3s ease;
    animation-iteration-count: 1;
    color:#FFF;
    padding:1rem 0;
    will-change: background-position;
}
@keyframes fadeinmast {
    from { opacity: 0; }
    to   { opacity: 0.3; }
  }
.masthead .BackgroundImage{
    opacity:0;
    animation: fadeinmast 3s;
    will-change: opacity;
    filter:saturate(0);
} 
.masthead h1{
    font-size:5rem;
}
.masthead .container{
    height:100%;
    z-index:1;
}
.masthead .content{
    display:flex;
    height:100%;
    align-items: center;
    justify-content: space-between;
    flex-direction:column;
}

.roles{
    display:flex;
    flex-direction:column;
    align-content: center;
}
.dot-section.sub1 .dot-header::before, .dot-section.sub2 .dot-header::before{
    background-color:#FFF;
    animation: dot-shadow-white 2s ease;
    animation-delay:2s;
}
.masthead .dot-section:after{
    opacity:0;  /* make things invisible upon start */
    animation: fadeIn 2s ease;
    animation-fill-mode: forwards;
}
@media screen and (min-width:768px){
    .masthead{
        height:400px;
    }
    .masthead .content, .roles{
        flex-direction: row;
    }
    .masthead .right{
        text-align: right;
    }
    .sub1{
        width:200px;
    }
    .sub2{
        margin-left:1rem;
        width:300px;
    }
    .dot-section.sub1 .dot-header::before, .dot-section.sub2 .dot-header::before{
        top:10.5rem;
    }
    .dot-section.sub2 .dot-header::before{
        left:202px;
    }
    .dot-section.sub1::after, .dot-section.sub2::after{
        height:calc(100% - 17rem);
        bottom:5.5rem;
    }
    .dot-section.sub2::after{
        left:210px;
    }
}
@media screen and (max-width:767px){
    .dot-section.sub1 .dot-header::before{
        top:5.5rem;
        left:calc(49.5% - 16rem);
    }
    .dot-section.sub2 .dot-header::before{
        top:calc(70% - 13.5rem);
        left:calc(49.5% - 16rem);
    }
    .dot-section.sub1::after{
        top:6rem;
        left:calc(51% - 16rem);
        height:calc(50% - 12.7rem)
    }
    .dot-section.sub2::after{
        top:calc(70% - 12.2rem);
        left:calc(51% - 16rem);
        height:calc(50% - 11.2rem)
    }
    .right{
        margin-top:1rem;
        text-align: center;
    }
}
@media screen and (max-width:500px){
    .dot-section.sub1 .dot-header::before{
        top:5.5rem;
        left:calc(49.5% - 15.8rem);
    }
    .dot-section.sub2 .dot-header::before{
        top:calc(70% - 13.5rem);
        left:calc(49.5% - 15.8rem);
    }
    .dot-section.sub1::after, .dot-section.sub2::after{
        left:calc(51% - 15.7rem);
    }
}
