@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.masthead{
    /* background-image: url('../../public/images/email-pattern.png'); */
    background-color:var(--primary);
-webkit-animation: AnimationName 45s ease-in-out;
-moz-animation: AnimationName 45s ease-in-out;
animation: AnimationName 45s ease-in-out;
    animation-iteration-count: infinite;
    color:#FFF;
    will-change: background-position;
    z-index: 1;
}
@keyframes fadeinmast {
    from { opacity: 0; }
    to   { opacity: 0.3; }
  }
.masthead .overlay{
    background-color:rgba(34,108,224,0.6);
    position: absolute;
    width:100%;
    height:100%;
    z-index: 2;
    top:0;
    left:0;
    
} 
.masthead h1{
    font-size:5rem;
}
.masthead .container{
    padding-top:1rem;
    padding-bottom:1rem;
    height:100%;
    z-index:1;
    z-index: 3;
    position: relative;
}
.masthead .content{
    display:flex;
    height:100%;
    align-items: center;
    justify-content: space-between;
    flex-direction:column;

}

.roles{
    display:flex;
    flex-direction:column;
    align-content: center;
}
.dot-section.sub1 .dot-header::before, .dot-section.sub2 .dot-header::before{
    background-color:#FFF;
    animation: dot-shadow-white 2s ease;
    animation-delay:2s;
}
.masthead .dot-section:after{
    opacity:0;  /* make things invisible upon start */
    animation: fadeIn 2s ease;
    animation-fill-mode: forwards;
    will-change: height;
    will-change: opacity;
}
@media screen and (min-width:768px){
    .masthead{
        height:400px;
    }
    .masthead .content, .roles{
        flex-direction: row;
    }
    .masthead .right{
        text-align: right;
    }
    .sub1{
        width:200px;
    }
    .sub2{
        margin-left:1rem;
        width:300px;
    }
    .dot-section.sub1 .dot-header::before, .dot-section.sub2 .dot-header::before{
        top:10.5rem;
    }
    .dot-section.sub2 .dot-header::before{
        left:202px;
    }
    .dot-section.sub1::after, .dot-section.sub2::after{
        height:calc(100% - 18rem);
        bottom:6.5rem;
    }
    .dot-section.sub2::after{
        left:210px;
    }
    .work-home, .blog-home{
        margin:7rem auto;
    }
}
@media screen and (max-width:767px){
    .masthead{
        padding:2rem 0 6rem;
    }
    .dot-section.sub1 .dot-header::before{
        top:5.5rem;
        left:calc(49.5% - 16rem);
    }
    .dot-section.sub2 .dot-header::before{
        top:calc(70% - 13.5rem);
        left:calc(49.5% - 16rem);
    }
    .dot-section.sub1::after{
        top:6rem;
        left:calc(51% - 16rem);
        height:calc(50% - 12.7rem)
    }
    .dot-section.sub2::after{
        top:calc(70% - 13.5rem);
        left:calc(51% - 16.5rem);
        height:calc(50% - 11.2rem)
    }
    .right{
        margin-top:1rem;
        text-align: center;
    }
}
@media screen and (max-width:500px){
    .dot-section.sub1 .dot-header::before{
        top:5.5rem;
        left:calc(49.5% - 15.8rem);
    }
    .dot-section.sub2 .dot-header::before{
        top:calc(70% - 13.5rem);
        left:calc(49.5% - 15.8rem);
    }
    .dot-section.sub1::after, .dot-section.sub2::after{
        left:calc(51% - 15.7rem);
    }
}
