.SinglePost {
}

.SingleWork--Header {
  height: 350px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-size:cover;
  background-color:#000;
}
.SingleWork--Header .top{
  display: flex;
    width: 100%;
    justify-content: space-between;
}
.SingleWork--Title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SingleWork--Title .dot-section .dot-header:before{
  background-color:#FFF;
  animation: dot-shadow-white 2s ease;
    animation-delay:2s;
  top:8.3rem;
}
.SingleWork--Title .dot-section:after{
  height:calc(100% - 8.5rem);
  opacity:0;  /* make things invisible upon start */
  animation: fadeIn 2s ease;
  animation-fill-mode: forwards;
}
.SinglePost--BackButton {
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
}

.SinglePost--BackButton svg {
  transition: transform 0.2s ease-out;
  transform: translateX(0);
  height: 1.2em;
}

.SinglePost--BackButton:hover svg,
.SinglePost--BackButton:focus svg {
  transform: translateX(-0.25em);
}

.SinglePost--Content {
  background: white;
  margin-top: 30rem;
  padding: 8rem 8rem 4rem 8rem;
}

.GalleryItem{
  text-align: center;
  background-color:#fff;
  padding:2rem;
  display:flex;
  flex-direction: column;
  height:300px;
  justify-content: space-between;
  margin:1rem;
  color:#333;
}

.ItemImage{
  overflow:hidden;
}
.ItemImage img{
  height:100%; 
  max-height:120px;
  max-width:90%;
  width:auto;
  opacity:0.75;
  position: relative;
  transition: 250ms all ease-in-out;
}
.ItemImage img::before{
  content:'+';
  font-size:2rem;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
.GalleryItem:hover .ItemImage img{
  opacity:1;
}
.ItemImage img:hover{
  box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
}
.GalleryItem .ItemCaption{
  font-size:1.4rem;
}
.GalleryItem a{
  text-decoration:none;
  text-transform: uppercase;
  font-weight: 700;
  font-size:1.4rem;
  transition: 250ms all ease-in-out;
}
.GalleryItem a:hover{
  color:#000;
}
.portfolio-gallery{
  
  margin:0 auto;
  display: grid;
  align-items: center;
  width:100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.gallery-wrap{
  padding:4rem 0 7rem;
  background-color:#fafafa;
}

.SinglePost--Title {
  text-align: center;
  line-height: 1.2;
}

.SinglePost--InnerContent {
  padding: 0 8rem;
}

.SinglePost--Pagination {
  margin: 4rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SinglePost--Pagination--Link {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

.SinglePost--Pagination--Link.next {
  margin-left: auto;
}

@media screen and (max-width: 750px) {
  .SinglePost--Content {
    padding: 4rem 2rem;
  }
  .SinglePost--InnerContent {
    padding: 0;
  }
}

@media screen and (max-width:600px){
}