.Footer {
  padding: 3rem 0;
  background: #000;
  color:#CCC;
  margin: auto auto 0 auto;
}
.Footer .container{
  display:flex;
  justify-content: space-between;
}
.Logo{
  font-family:var(--font-heading);
  text-transform: uppercase;
}
.Footer h3{
  margin-bottom:0;
}
.Footer .right{
  text-align:right;
  width:70%;
}
.Footer .right .cols{
  display:flex;
  justify-content: flex-end;
}
.Footer .right .col{
  padding:0 1rem;
}
.Footer .link-list ul{
  margin:0;
  padding:0;
}
.Footer .link-list ul li{
  list-style-type: none;
  display:inline-block;

}
.Footer .link-list li + li::before {
  margin:0 0.6rem;
  content: "|";
}
.Footer a{
  color:#CCC;
}
.Footer a:hover{
  color:#FFF;
  text-decoration:none;
}
