.Nav {
  background: var(--primary);
  position: sticky;
  top: 0;
  z-index: 1;
}

.Nav a{
  color:var(--lightGrey);
  font-weight:700;
  font-family: var(--font-heading);
  text-transform: uppercase;
  text-decoration:none;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

.Nav--Container {
  display: flex;
  align-items: center;
  height: 6rem;
}

.Nav--LinkList{
  display: flex;
  width: 100%;
  align-content: flex-end;
  justify-content: flex-end;
}

.Nav .Logo {
  margin-right: 3rem;
}