.Nav {
  background: var(--primary);
  position: sticky;
  top: 0;
  z-index: 3;
}

.Nav a{
  color:var(--lightGrey);
  font-weight:700;
  font-family: var(--font-heading);
  text-transform: uppercase;
  text-decoration:none;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  
}

.Nav--Container {
  display: flex;
  align-items: center;
  padding:0.5rem;
  flex-direction: column;
}

.Nav--LinkList{
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.Nav .Logo {
  white-space: nowrap;
}

@media screen and (min-width:500px){
  .Nav--Container{
    flex-direction:row;
  }
  .Nav--LinkList{
      align-content: flex-end;
  justify-content: flex-end;
  }
}