.PostCard {
  text-decoration: none;
  background: white;
  color: inherit;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
  padding:2rem;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
}

.PostCard:hover,
.PostCard:focus {
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
}
.PostCard:hover .PostCard--Title{
  color: var(--primary);
}
.PostCard--Image {
  width: 100%;
  height: 15rem;
  margin-bottom:1rem;
}

.PostCard--Title {
  margin: 0;
}

.PostCard--Content {
}

.PostCard--Category {
  font-size: 1rem;
  text-align: right;
}

.PostCard .Button{
  margin-top:2rem;
  text-align:center;
  display:inline-block;
  align-self:center;
}