.PostCard {
  text-decoration: none;
  background: #fafafa;
  color: inherit;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
  padding:2rem;
  margin:1rem;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
}

.PostCard:hover,
.PostCard:focus {
  box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.4);
  z-index:1; 
  transform: translate(4px, -4px);
}
.PostCard:hover .PostCard--Title{
  color: var(--primary);
  transition: all 0.2s ease;
}
.PostCard--Image {
  width: 100%;
  height: 15rem;
  margin-bottom:1rem;
}

.PostCard--Title {
  margin: 0;
}

.PostCard--Content {
}

.PostCard--Category {
  font-size: 1rem;
  text-align: right;
}

.PostCard--Button{
  margin-top:1rem;
  text-align:center;
  display:inline-block;
  align-self:center;
  font-weight:bold;
  color:#AAA;
  padding: 1rem 3rem;
  transition: all 0.2s ease;
  text-transform: uppercase;
}
.PostCard:hover .PostCard--Button{
  background: var(--primary);
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.4);
}
@media screen and (max-width:750px){
  .PostCard{
    text-align: center;
    box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.3);
    margin-bottom:3rem;
  }
  .PostCard--Button{
    background: var(--primary);
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.3);
  }
}