:root {
  --primary: #226CE0;
  --primary-light:#4C90FF;
  --primary-dark: #133C7F;
  --secondary: #212121;
  --lightGrey: #fafafa;
  --midGrey: #cacaca;
  --darkGrey: #272727;
  --danger: #ff3d3d;
  --font-primary: 'Lato', sans-serif;
  --font-heading: 'Poppins', sans-serif;
  --borderRadius: 3px;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900|Poppins:300,400,700');

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
  background: #FFF;
}

::-moz-selection { background: var(--primary); color:#FFF; }
::selection { background: var(--primary); color:#FFF; }

body {
  font-family: var(--font-primary);
  min-height: 100%;
  position: relative;
  background: white;
  color: var(--secondary);
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width:850px){
  main{
    min-height: calc(91vh - 112px);
  }
  
  .Footer{
    height:112px;
  }
}


a {
  color: var(--primary);
}

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
  font-family: var(--font-heading);
}

pre {
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
  white-space: pre-wrap;
    word-break: break-all;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--primary);
}

/* Utility Classes */
.light {
  background-color: var(--lightGrey);
}
.white {
  background-color: white;
}
.dark {
  background-color: var(--primary);
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

/* Layout */

.section {
  width: 100%;
  padding: 7.5rem 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 3.5rem 0;
}
.section.noPadding {
  padding: 0;
}

.container {
  max-width: 1111px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.container.skinny {
  max-width: 888px;
}
.container.skinnier {
  max-width: 555px;
}

/* Buttons */

.Button {
  background: var(--primary);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  padding: 1.25rem 3rem;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 1.4rem;
  white-space: nowrap;
}
.Button:hover,
.Button:focus {
  background: var(--primary-dark);
  outline: none;
  box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.4);
}
.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button.Button--inverted {
  background: white;
  border-color: white;
  color: var(--primary);
}
.Button.Button--inverted:hover,
.Button.Button--inverted:focus {
  background: black;
  color:white;
}
.cta{
  margin-top:2rem;
  background-color:var(--primary);
  color: white;
  text-align: center;
  padding:3rem 0;
}
.cta h2{
  font-size:3rem;
}
@keyframes fadeinopacity {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.WorkCard, .PostCard, .EnquiryForm, .social-link, .skinny, .SingleWork--Header{
animation: fadeinopacity 1s;
will-change: opacity;
}
@keyframes dot-shadow{
  
  0%{ box-shadow: 0 0 0 #226ce0; }
  100%{box-shadow: 0 0 0 8px rgba(255, 255, 255, 0)}
}
@keyframes dot-shadow-white{
  
  0%{ box-shadow: 0 0 0 #FFF; }
  100%{box-shadow: 0 0 0 8px rgba(255, 255, 255, 0)}
}
@keyframes fadeIn { from { height:0; } to { opacity:1; } }

.dot-section{
  margin-top:2rem;
  padding:0 2rem 2rem 2rem;
  /* border-left:2px solid #CCC; */
  border-bottom:2px solid #CCC;
}
.dot-section::after {
  content: " ";
  display: block;
  position: absolute;
  height: calc(100% - 1.5rem);
  background: #ccc;
  width: 2px;
  left: 0;
  bottom:0;
}
.dot-header::before{
  z-index: 2;
  content: '';
  display: inline-block;
  position: absolute;
  left: -8px;
  top: 0.35em;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 2rem;
  background-color: var(--primary);

}
.Blog .dot-section:after, .Portfolio .dot-section:after, .Contact .dot-section:after{

  opacity:0;  /* make things invisible upon start */
  animation: fadeIn 2s ease;
  animation-fill-mode: forwards;
  will-change: height;
}
.Blog .dot-section .dot-header:before, .Portfolio .dot-section .dot-header:before, .Contact .dot-section .dot-header:before{
  animation: dot-shadow 2s ease;
  will-change: box-shadow;
  animation-delay:2s;
}
.post-section{
  display: flex;
  flex-direction: column-reverse;
  margin-top:5rem;
  margin-bottom: 2rem;
}
.post-section .post-categories{
  padding:0 1rem;
  text-align: center;
}

@media screen and (min-width:768px){
  .post-section{
    flex-direction:row;
  }
  .post-section .post-categories{
    border-left:#ccc 1px solid;
    margin:0 1rem 0 3rem;
    text-align:left;
  }
}